<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-bold">Rooms</h1>
    <%= link_to 'New Room', new_room_path, class: "new_btn" %>
  </div>

  <div id="rooms" class="min-w-full">
    <%= render @rooms %>
  </div>
</div>
